@media (max-width: 1366px){

    .categories{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    .btn-controller{
        width: 100%;
        right: 0.5%;

    }
    .container-cards{
      
    }
    
}
@media (max-width: 1300px){

    .categories{
        gap: 10px;
    }
}
    
}
@media (max-width: 1280px){

    .navbar__ul{
        gap: 50px;
    }
    .categories{
        gap: 10px;
    }
}
@media (max-width: 1206px){

    .categories{
        gap: 5px;
    }
}
    
@media (max-width: 1181px){

    .categories{
        gap: 30px;
    }
    .category{
        padding: 5px 100px;
    }
}
    
@media (max-width: 1100px){

    .hero{
        margin: 0px;
    }

    .btn-controller{
        justify-content: space-between;
        width: 110%;
        left: -2.5%;
        padding: 0;
        gap: 230px;
    }
    .container-btn{
        width: 100%;
    }
    .btn-controller button{
        font-size: 25px;
    }
    .nav-burger{
        display: block;
    }
    .img-marvel__a-burger,.burger-marvel{
        display: block;
        height: 80px;
    }
    .cart-cont{
        font-size: 10px;
        height: 15px;
        width: 15px;
        top: -9px;
        right: -10px;
    }
    .nav-burger.active .bar:nth-child(2){
        opacity: 0;
    }
    .nav-burger.active .bar:nth-child(1){
        transform: rotate(45deg) translateY(8px);
    }
    .nav-burger.active .bar:nth-child(3){
        transform: rotate(-45deg) translateY(-8px);
    }
    .navbar__ul{
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 20px;
        top: 80px;
        left: -100%;
        width: 100%;
        height: calc(100vh - 80px);
        background: var(--red);
        padding-top: 50px;
        transition: all 0.5s ease;
    }
    .navbar__ul__li-div{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        
    }
    .navbar__ul__li-div a{
        font-size: 45px;
        text-align: center;
        padding: 10px;
    }


    .navbar__ul li:nth-child(2){
        display: none;
    }
    .navbar__ul.active{
        left: 0;
    }


    
}


@media (max-width: 666px){

    .hero__btn{
        left: 35%;
    }

    .abouts__us-cards{
        text-align: center;
        font-size: 10px;
    }
}

@media (max-width: 500px) {

    .hero__btn{
        left: 29%;
    }
    .abouts__us-cards{
        text-align: center;
        gap: 10px;
    }
    .abouts__us-cards h3{
        font-size: 20px;
    }
    .abouts__us-cards p{
        font-size: 15px;
    }
    .abouts__us-cards img{
        width: 100px;
    }
    footer{
        font-size: 10px;
    }
    .container-footer{
        gap: 20px;
        flex-direction: column-reverse;
        width: 100%;
    }
    .footer__social ul{
        gap: 50px;
    }
    .footer__social ul li a{
      font-size: 50px;
    }
    .footer__contact ul{
        flex-direction: row;
    }
    .footer__contact ul li{
        display: flex;
        gap: 10px;
    }
    .footer__info ul{
         flex-direction: row;
         gap: 10px;
    }


    
}
    